<!DOCTYPE html>
<html>

<head>
  <style>
    #mainNav {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      background-color: #fff;
      transition: background-color 0.2s ease;
    }

    body {
      background-image: url("https://media.discordapp.net/attachments/361424692172816387/773484998467649546/unknown.png?width=957&height=677");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      height: 100vh;
      margin: 0;
      padding: 0;
    }

    .hight {
      height: 20px;
    }

    .none {
      box-shadow: none !important;
    }

    .a1 {
      color: #6c757d !important;
      text-decoration: none;
      background-color: transparent;
    }

    .margin-bottom {
      margin-bottom: 10px;
    }

    .margin-top {
      margin-top: 10px;
    }

    .margin-top-menu {
      margin-top: -10px;
    }

    .margin-left {
      margin-left: 0px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: auto;
      margin-bottom: 0.5rem;
    }

    .container,
    .container-fluid,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }

    .bcontainer {
      box-shadow: 5px 5px #ce0a35;
      align-items: center;
      padding-top: 20px;
    }

    .acontainer {
      position: absolute;
      right: 0;
      width: 100px;
    }

    .headerdataSt {
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #fff;
      background-color: #ce0a35 !important;
    }

    .dataSt {
      margin-top: 50px;
      max-width: 600px;
      height: 400px;
      margin-left: 50px;
      border-left: 10px solid #ffb349;
      background-color: #fcf8f2;
    }

    /* .btn btn-default */

    /* .login {
        text-align: center;
        margin-top: 150px;
        border: 2px solid black;
        margin-left: 700px;
        margin-right: 700px;
        margin-bottom: 200px;
        padding: 30px;
      } */

    .my-text-info {
      padding-left: 20px;
      margin-left: 20x;
      color: #0c0c0c;
    }

    .button {
      position: relative;
      border-radius: 5px;
      display: block;
      width: 75px;
      padding: 10px;
      text-align: center;
      color: #fff !important;
      background: #c00831 !important;
      border-color: #c00831 !important;
    }
  </style>
  <title>Bootstrap Example</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link href="css/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/f11888f5ae.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- <div  class="bcontainer">
      <img src="https://media.discordapp.net/attachments/361424692172816387/773495494777372673/uoJSHdx704AAAAASUVORK5CYII.png" alt="TU" width="300" height="75" /> 
      <div class="acontainer button">
        <a href="http://localhost:5000/", style="color:white;">Log out</a>  
      </div>
    </div> -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <img
          src="https://media.discordapp.net/attachments/361424692172816387/773495494777372673/uoJSHdx704AAAAASUVORK5CYII.png"
          alt="TU" width="300" height="75" /></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-4 my-lg-0">
          <div class="dropdown navbar-nav ">
            <button class="btn btn-default dropdown-toggle  none btn-sm " type="button" id="dropdownMenu1"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="glyphicon-align-justify "></span><%= prefix%>. <%= name_en %>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="http://localhost:5000/" class="dropdown-item a1">
                  <i class="fas fa-sign-out-alt"></i>
                  Log out</a></li>
            </ul>
          </div>
          <li class="nav-item"><i class="fas fa-user fa-3x"></i> </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="masthead">
    <div class="container">
      <h1 style="height: 150px;">test</h1>
    </div>
  </header>

  <header class="container">
    <nav aria-label="breadcrumb-fu">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="http://localhost:5000/welcome/<%- name_id -%>">Home</a></li>
        <li class="breadcrumb-item"><a href="http://localhost:5000/setCase/<%- name_id -%>">Welcome</a></li>
        <li class="breadcrumb-item active" aria-current="page">ลงทะเบียนล่าช้า</li>
      </ol>
    </nav>
  </header>

 
  <%- include('footer') -%>

  </div>
</body>

</html>