<nav class="navbar navbar-expand-lg navbar-light py-3" id="mainNav2">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <img
        src="https://i.imgur.com/YagzayA.png"
        alt="TU" width="300" height="75" /></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">

    </div>
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />

      <!--
      Some spans to act as a hamburger.
      
      They are acting like a real hamburger,
      not that McDonalds stuff.
      -->
      <span></span>
      <span></span>
      <span></span>

      <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
      -->
      <ul id="menu">
        <li><i class="fas fa-user fa-2x"></i><br><%= prefix%>. <%= name_en %><span class="glyphicon-align-justify "></span></li>
        <a class="my-a" href="http://localhost:5000/welcome/<%- name_id -%>">
          <li>Home</li>
        </a>
        <a class="my-a" href="http://localhost:5000/setCase/<%- name_id -%>">
          <li>สถานะคำร้องขอ</li>
        </a>
        <a class="my-a" href="http://localhost:5000/form/<%- name_id -%>">
          <li>ลงทะเบียนล่าช้า</li>
        </a>
        <a class="my-a"  href="http://localhost:5000/payment/<%- name_id -%>";>
          <li>ชำระค่าหน่วยกิต</li>
        </a>

        <a class="my-a" href="http://localhost:5000/logout">
          <li>Logout</li>
        </a>
      </ul>
    </div>
  </div>
</nav>