<!DOCTYPE html>
<html>

<head>
    
  <%- include('header') -%>
</head>

<body>
  
  <%- include('navdar') -%>

  <header class="container">
    <nav aria-label="breadcrumb-fu">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="http://localhost:5000/welcome/<%- name_id -%>">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">สถานะคำร้องขอ</li>
        <li class="breadcrumb-item"><a href="http://localhost:5000/form/<%- name_id -%>">ลงทะเบียนล่าช้า</a></li>
        <li class="breadcrumb-item"><a  href="http://localhost:5000/payment/<%- name_id -%>">ชำระค่าหน่วยกิต</a></li>
      </ol>
    </nav>
  </header>
  <div class ="container"> 
    <div class="row" style="margin-bottom: 1rem;">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            สถานะของคำร้อง
          </div>
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>
  <%- include('footer') -%>

  </div>
</body>

</html>